.div {
  grid-column: 1;
  grid-row: 2;
}

.ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.ul li {
  background-color: #e0e0e0;
  border: 1px;
  border-color: #d1d1d1;
  border-style: solid;
}

.ul li button {
  background-color: #e0e0e0;
  width: 2rem;
  padding: 2rem 3rem 34.5px 45px;
  border-color: #d1d1d1;
  border-style: solid;
}
