.div {
  grid-column: 1;
  grid-row: 3;
  width: 18.4rem;
}

.ul {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  flex-wrap: wrap;
  width: 21rem;
  padding: 0;
}

.ul li {
  background-color: #e0e0e0;
  border: 1px;
  border-color: #d1d1d1;
  border-style: solid;
}

.ul .Zero {
  order: 9;
  width: 12.2rem;
  height: 5.1rem;
}

.ul .dot {
  order: 10;
  background-color: #e0e0e0;
  width: 2rem;
  padding: 2rem 3rem 2rem 3rem;
  border-color: #d1d1d1;
  border-style: solid;
  height: 5.3rem;
}

.ul li button {
  background-color: #e0e0e0;
  width: 2rem;
  padding: 2rem 3rem 34.4px 45px;
  border-color: #d1d1d1;
  border-style: solid;
}

.ul .Zero button {
  order: 9;
  width: 12.2rem;
  height: 5.1rem;
}
