.ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.ul li {
  height: 2rem;
}

.ul li a {
  color: #7097be;
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
  padding-left: 17px;
  padding-right: 17px;
}

.ul :first-child a {
  border-right: black solid;
  border-width: 1px 2px 1px 2px;
}

.ul :last-child a {
  border-left: black solid;
  border-width: 1px 2px 1px 2px;
}

.div {
  display: flex;
  justify-content: space-between;
}

.icon {
  margin: 1rem;
  float: right;
}

.h1 {
  font-family: 'Poppins', sans-serif;
}
